<header>
  <div class="page-header">
    <h1>メモ内容の変更</h1>
  </div>
</header>

<form action="/notes/<%= @note['id'] %>/edit" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <div class="note-element">
    <div class="note-element-header">
      <p>名前</p>
    </div>
    <div class="note-input">
      <input type="text" name="title" value="<%= @note['title'] %>">
    </div>
  </div>
  <div class="note-element">
    <div class="note-element-header">
      <p>内容</p>
    </div>
    <div class="note-input">
      <input type="text" name="content" value="<%= @note['content'] %>">
    </div>
  </div>
  <button class="center "type="submit">保存</button>
</form>
