<header>
  <h1>My Notes</h1>
</header>
<button onclick="location.href='/new'">追加</button>
<ul>
  <% @notes.each do |note| %>
    <li><a href="/notes/<%= note['id'] %>">
      <%= Rack::Utils.escape_html(note['title']) %></a>
    </li>
  <% end %>
</ul>
