<header>
  <div class="flex">
    <div class="home-header">
      <h1>My Notes</h1>
    </div>
<<<<<<< HEAD
    <button onclick="location.href='/notes/new'">追加</button>
=======
    <a class="button" href="/notes/new">追加</a>
>>>>>>> main
  </div>
</header>
<ul>
  <% @notes.each do |note| %>
    <li><a href="/notes/<%= h(note['id']) %>">
      <%= h(note['title']) %></a>
    </li>
  <% end %>
</ul>
