<header>
  <div class="flex">
    <div class="home-header">
      <h1>My Notes</h1>
    </div>
    <button onclick="location.href='/new'">追加</button>
  </div>
</header>
<ul>
  <% @notes.each do |note| %>
    <li><a href="/notes/<%= note['id'] %>">
      <%= Rack::Utils.escape_html(note['title']) %></a>
    </li>
  <% end %>
</ul>
