<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title><%= @title %></title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<html lang="ja">
<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>

