<h1>メモアプリ</h1>
<form action="/home" method="post">
<!--    <label for="article">投稿</label>-->
    <input type="text" name="title">
    <p></p>
<!--    <label for="name">名前</label>-->
    <input type="text" name="content">
    <button type="submit">保存</button>
</form>
<!--<p><%#= @article %> <%#= @name %></p>-->