<h1>メモアプリ</h1>
<%= @note['title'] %>
<p></p>
<%= @note['content'] %>
<p></p>

<button onclick="location.href='/notes/<%= @note['id'] %>/edit'">変更</button>
<p></p>

<form action="/notes/<%= @note['id'] %>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="削除">
</form>
